# For Development
DEBUG=""

# Interval (in minutes)
INTERVAL=

# Discord Bot Token
# https://discord.com/developers/applications
DISCORD_TOKEN=""

# Apex Legends Status API Token
# https://apexlegendsapi.com/
ALS_API=""

# Whether or not to enable the status updates
# (Disabled by default)
ENABLED=""

# The message embed to update
SERVER_ID=""
CHANNEL_ID=""
MESSAGE_ID=""

# Custom Emotes
# (Optional)
EMOTE_UP=""
EMOTE_SLOW=""
EMOTE_DOWN=""

# Console stuff
FORCE_COLOR=1
