{
    "debug": {
        "enabled": ,
        "guild": ""
    },
	"discord": {
        "owner": "",
        "guildID": "",
		"token": ""
	},
	"status": {
		"interval": "1",
        "enabled": ,
        "api": "",
		"server": "",
		"channel": "",
		"message": "",
	},
	"customs": {
		"submitChannel": ""
	}
}
